#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #00a087;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  color: #e8fdff;
  line-height: 80px;
  font-size: 200%;
}
