.new-tweet {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #eee;
  margin: 0 2em;
  width: 85%;
  padding: 10px;
}

.new-tweet .heading {
  margin-top: 0px;
  border-bottom: 0.05em solid #000;
}

.new-tweet form textarea {
  width: 100%;
  padding: 0.5em;
}

.new-tweet input {
  display: inline-block;
  float: left;
}

.new-tweet .notice {
  
}

.new-tweet .counter {
  display: block;
  text-align: right;
  margin-bottom: 0.8em;
  font-size: 80%;
  font-style: italic;
}

.new-tweet .counter.invalid {
  color: #f00;
}
