.published-tweet {
  border-radius: 4px;
  margin: 1em 2em;
  border: 1px solid gray;
  padding: 10px;
}

.published.tweet article {

}

.published-tweet header {
  background: #eee;
  padding: 8px;
}

.published-tweet .text {
  border-bottom: 0.05em solid lightgray;
}

.published-tweet .avatar {
  display: inline-block;
}

.published-tweet .name {
  display: inline-block;
  vertical-align: top;
  padding = 0;
  line-height: 0;

}
.published-tweet .handle {
  display: inline-block;
  float: right;
  font-size: 90%;
}

.published-tweet footer {
  font-size: 80%;
}
