#tweets-container {
  margin: 0 2em;
  opacity: 0.5;
}

#tweets-container header:hover {
    top: 80px;
}

#tweets-container article {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid gray;
  margin:0.5em 0 0.5em 0;
}

#tweets-container header {
  background: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

#tweets-container.userinfo {
  display: flex;
}

#tweets-container .avatar img {
  border-radius: 4px;
}

#tweets-container .name {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0.5em;
}

#tweets-container .content {
  padding: 1em 0.5em 1em;
  min-height:6em;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#tweets-container footer {
  border-top: 0.05em solid lightgray;
  font-size: 80%;
  padding:0.6em;
}

#tweets-container .fa {
  color: #00a087;
  display: inline-block;
}
